<div class="full scroll-y" nbKeepScrollPosition>
  <p>
    <input type="text">
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>
  <p>
    v1 works!
  </p>

</div>
