:host {
  .trigger {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
  }
  .logo {
    width: 200px;
    height: 100%;
    transition: width 0.2s;
    background-color: #9c9c9c;
    &.is-collapsed {
      width: 80px;
    }
  }
  ::ng-deep {
    .ant-layout-header {
      background-color: #011528;
    }
  }
}
