<main class="full" flex="dir:top">
  <header class="header"></header>
  <section flex="dir:left" flex-box="1">
    <aside>
      <ul nzMode="inline" [nzTheme]="'dark'" nz-menu style="width: 200px;">
        <li nz-menu-item>菜单项</li>
        <li nz-submenu>
          <span title>子菜单</span>
          <ul>
            <li nz-menu-item>子菜单项</li>
          </ul>
        </li>
      </ul>
    </aside>
    <section class="router-view scroll-y" flex-box="1">
      <router-outlet></router-outlet>
    </section>
  </section>
</main>
