.header {
  height: 60px;
  line-height: 60px;
  background-color: #1890ff;
  box-shadow: 0 1px 10px rgba(0,0,0,.2);
  position: relative;
  z-index: 2018;
}
.router-view {
  background-color: #F5F7FA;
  padding: 20px;
  box-sizing: border-box;
}
