:host {
  //刺穿组件
  //::ng-deep {
  //  .ant-tabs-bar {
  //    margin: 0 !important;
  //    background-color: #666 !important;
  //  }
  //  .ant-tabs-tab {
  //    border-radius: 0 !important;
  //    //background-color: #666 !important;
  //    //border-color: transparent !important;
  //  }
  //}
  .option-btn {
    width: 40px;
    height: 35px;
    line-height: 40px;
    cursor: pointer;
    background-color: #0C0C0D;
    color: #fff;
  }
  .tabs {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background-color: #0C0C0D;
    color: #A6A6A6;
    user-select: none;

    .tab-item {
      display: inline-block;
      cursor: pointer;
      padding: 0 0 0 20px;
      transition: .1s background-color, .1s color;
      &.active, &:hover {
        background-color: #323234;
        color: #fff;
      }
      .tab-close-btn {
        font-size: 14px;
        float: left;
        width: 40px;
        height: 35px;
        line-height: 40px;
        &.not-allowed {
          cursor: not-allowed;
        }
      }
      .tab-item-title {
        min-width: 60px;
        max-width: 120px;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

      }

    }
  }
}
